.disclaimer
    h6.fw-bolder Disclaimer
    h6.fw-medium.fs-6 b1satta.in is a non-commercial website. Viewing this website is your own risk, all the information shown on website is sponsored and we warn you that satta may be banned or illegal in your country. We are not responsible for any issues or scam. We respect all country rules/laws. If you not agree with our site disclaimer. Please quit our site right now.
footer#footer.footer.ml-0
    .copyright &copy; Copyright 
        strong B1Satta
        span . All Rights Reserved